.Centrado {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeleccionPagina {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {color: aqua;}
a:hover { color: white;}

.Galeria {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.Atencion {
    text-align: center;
    color: rgb(255, 0, 0);
    text-rendering: optimizeSpeed;
}

.DIVAncho {
    width: 100%;
}

.Bienvenida {
    text-align: center;
    animation: cambioColores 2s infinite;
    text-rendering: optimizeSpeed;
}

.TXTCentrado {
    text-align: center;
    color: white;
    text-rendering: optimizeSpeed;
}

@keyframes cambioColores {
    0% {color: #ff0000;} /* Rojo */
    25% {color: #00ff00;} /* Verde */
    50% {color: #0000ff;} /* Azul */
    100% {color: #ff0000;} /* Rojo otra vez por el loop */
}

body {
    background-image: url("esrellas.png");
    image-rendering: pixelated; /* Para que no se vuelva borrosa la imagen */
    background-size: cover;
}